* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);
  div.logo {
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    margin-left: 2rem;
    img {
      width: 6vw;
      height: 6vw;
    }
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          color: #09777d;
          text-decoration: none;
          font-size: 1.35rem;
        }
      }
    }
  }
}

main {
  section.backImage {
    min-height: 90vh;
    width: 100%;
    background-image: url("../Pictures/pexels-photo-416676.jpeg");
    background-size: cover;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;

    h3 {
      font-size: 3.5rem;
      color: white;
      margin: 2.5rem 0rem;
    }

    button.start {
      background-color: #3bf0e5;
      padding: 0.75rem 1.5rem;
      font-size: 1.5rem;
      color: black;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
    }

    div.filter {
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      min-height: 90vh;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
}

section.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin: 2rem 0rem;
  }

  section.cards {
    display: flex;
    width: 80%;
    min-height: 170vh;
    position: relative;
    flex-wrap: wrap;
    padding: 2rem;
    div.card {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 300px;
      div.container {
        padding-top: 0;
        margin-top: 2rem;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 20vw;
          height: 20vw;
          border-radius: 50%;
          transition: all 0.2s;
        }
        img:hover {
          transform: scale(1.2);
        }
      }

      h4 {
        display: flex;
        font-size: 2rem;
        flex: 2 1 300px;
        justify-content: center;
        align-items: center;
      }
      p {
        font-size: 1.25rem;
        padding-top: 8rem;
        padding-left: 3rem;
        padding-right: 3rem;
        flex: 3 1 300px;
      }
      div.anchorcontainer {
        flex: 1 1 400px;
        flex-wrap: wrap;
        padding-top: 12rem;

        a {
          margin: 2.5rem;
          text-decoration: none;
          padding: 1rem 1.5rem;
          background-color: #09777d;
          color: white;
          font-size: 1.25rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f9f9f9;
  padding: 3rem;
  div.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img.footerlogo {
      width: 5vw;
      height: 5vw;
    }
  }
  section.anchor {
    margin: 1.5rem 0rem;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          color: #000000;
          margin: 2rem;
          font-size: 1.75rem;
        }
      }
    }
  }
  section.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    img.icon1 {
      width: 5vw;
      height: 5vw;
      margin: 2rem;
    }
    img.icon2 {
      width: 7vw;
      height: 5vw;
      margin: 2em;
    }
  }
}

// scroll bar part

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #09777d;
}

@media screen and (max-width: 550px) {
  header {
    div.logo {
      margin-left: 0.5rem;

      img {
        width: 15vw;
        height: 15vw;
      }
    }
  }
  footer {
    div.footer {
      img.footerlogo {
        width: 15vw;
        height: 15vw;
      }
    }
    section.anchor {
      ul {
        flex-direction: column;
        align-items: center;
        li {
          a {
            font-size: 2rem;
          }
        }
      }
    }

    section.icons {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      img.icon1 {
        width: 15vw;
        height: 15vw;
      }
      img.icon2 {
        width: 21vw;
        height: 15vw;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  main {
    section.second {
      section.cards {
        height: fit-content;
        div.card {
          img {
            width: 40vw;
            height: 40vw;
          }
        }
      }
    }
  }
}
