div.animation {
  width: 100%;
  height: 100vh;
  background-color: #e08958;
  position: fixed;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

#first {
  stroke-dasharray: 309px;
  stroke-dashoffset: 309px;
  animation: fadeInside 0.6s ease-in forwards;
}

#second {
  stroke-dasharray: 413px;
  stroke-dashoffset: 413px;
  animation: fadeInside 0.6s ease-in 0.3s forwards;
}

#third {
  stroke-dasharray: 360px;
  stroke-dashoffset: 360px;
  animation: fadeInside 0.6s ease-in 0.6s forwards;
}

#fourth {
  stroke-dasharray: 371px;
  stroke-dashoffset: 371px;
  animation: fadeInside 0.6s ease-in 0.9s forwards;
}

#fifth {
  stroke-dasharray: 459px;
  stroke-dashoffset: 459px;
  animation: fadeInside 0.6s ease-in 1.2s forwards;
}

#sixth {
  stroke-dasharray: 418px;
  stroke-dashoffset: 418px;
  animation: fadeInside 0.6s ease-in 1.5s forwards;
}

#seventh {
  stroke-dasharray: 404px;
  stroke-dashoffset: 404px;
  animation: fadeInside 0.6s ease-in 1.8s forwards;
}

#eighth {
  stroke-dasharray: 371px;
  stroke-dashoffset: 371px;
  animation: fadeInside 0.6s ease-in 2.1s forwards;
}

#nineth {
  stroke-dasharray: 527px;
  stroke-dashoffset: 527px;
  animation: fadeInside 0.6s ease-in 2.4s forwards;
}

#tenth {
  stroke-dasharray: 1386px;
  stroke-dashoffset: 1386px;
  animation: fadeInside 0.6s ease-in forwards;
}

#eleventh {
  stroke-dasharray: 1133px;
  stroke-dashoffset: 1133px;
  animation: fadeInside 0.6s ease-in 0.4s forwards;
}

#twelveth {
  stroke-dasharray: 1174px;
  stroke-dashoffset: 1174px;
  animation: fadeInside 0.6s ease-in 0.8s forwards;
}
#thirteenth {
  stroke-dasharray: 1389px;
  stroke-dashoffset: 1389px;
  animation: fadeInside 0.6s ease-in 1.2s forwards;
}
#fourteenth {
  stroke-dasharray: 606px;
  stroke-dashoffset: 606px;
  animation: fadeInside 0.6s ease-in 1.6s forwards;
}
#fifteenth {
  stroke-dasharray: 1284px;
  stroke-dashoffset: 1284px;
  animation: fadeInside 0.6s ease-in 2s forwards;
}

#sixteenth {
  stroke-dasharray: 1210px;
  stroke-dashoffset: 1210px;
  animation: fadeInside 0.6s ease-in 2.4s forwards;
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

svg {
  animation: fill 1s ease-in 2.4s forwards;
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
